Flujo 06.json
[
    {
        "id": "438f41a1a566ef01",
        "type": "tab",
        "label": "Flujo 06",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b8a4a0ee569888c",
        "type": "mqtt in",
        "z": "438f41a1a566ef01",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24e54ec71810eb37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "b07965e314ee65b4",
                "723f34bed12ecda8"
            ]
        ]
    },
    {
        "id": "8595f609ae781386",
        "type": "mqtt out",
        "z": "438f41a1a566ef01",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24e54ec71810eb37",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "723f34bed12ecda8",
        "type": "ui_text",
        "z": "438f41a1a566ef01",
        "group": "21fb05fc1d9e7865",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto Recibido",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "36b9a8f4eb19d7c3",
        "type": "ui_switch",
        "z": "438f41a1a566ef01",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "fa6db1f0560e7969",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "8595f609ae781386"
            ]
        ]
    },
    {
        "id": "b07965e314ee65b4",
        "type": "debug",
        "z": "438f41a1a566ef01",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "24e54ec71810eb37",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "52.58.126.63",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "21fb05fc1d9e7865",
        "type": "ui_group",
        "name": "Información (Rx)",
        "tab": "fd24d14e67aa3771",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa6db1f0560e7969",
        "type": "ui_group",
        "name": "Información (Tx)",
        "tab": "fd24d14e67aa3771",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd24d14e67aa3771",
        "type": "ui_tab",
        "name": "Flujo 06",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]